*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #4F6F52;
}
.clock{
height: 800px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.clock::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 10px;
    background-color: black;
    top: 0;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.clock .clock_face{
    position: relative;
    width: 350px;
    height: 350px;
    border: solid black 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.5),5px 5px 30px 5px rgba(0, 0, 0, 0.5);
}
.clock .clock_face .hand{
    width: 140px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
}
.clock .clock_face .seconds-hand{
    width: 120px;
}
.clock .clock_face .cover{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 0.5);
}